# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.userprefs

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

[Bb]in/*
*/[Bb]in/*
[Oo]bj/*
*/[Oo]bj/*
[Pp]ackages/*
*/[Pp]ackages/*
Build/*.nupkg
*.userprefs
Magnesium/obj/*
Magnesium/.vs/Magnesium/v14/.suo

bin/*
obj/*
Magnesium.Vulkan\.vs\Magnesium.Vulkan\v14\.suo
packages/*/*
Tools/*/bin/*
Tools/*/obj/*
Tools/*/*/bin/*
Tools/*/*/obj/*
Tools/*/packages/*

Magnesium.OpenGL/[Bb]in/*
Magnesium.OpenGL/[Oo]bj/*
Magnesium.OpenGL.DesktopGL/[Bb]in/*
Magnesium.OpenGL.DesktopGL/[Oo]bj/*
Magnesium.Vulkan/bin/*
Magnesium.Vulkan/obj/*
Magnesium.Vulkan/.vs/Magnesium.Vulkan/v14/.suo
Build/.vs/Mg ALL PORTABLE/v14/.suo
Build/.vs/Mg.OpenGL.DesktopGL/v14/.suo

examples/*/.vs/*
examples/*/[Pp]ackages/*
examples/*/*/[Bb]in/*
examples/*/*/[Oo]bj/*

tests/*/[Pp]ackages/*
tests/*/[Bb]in/*
tests/*/[Oo]bj/*

Build/lib/*
*.nupkg
*.suo
Magnesium.PresentationSurfaces.OpenTK/.vs/Magnesium.PresentationSurfaces.OpenTK/v14/.suo
*.user
examples/*/bin/*
examples/*/obj/*
examples/*/*/[Bb]in/*
examples/*/*/[Oo]bj/*
examples/*/*/[Pp]ackages/*
*.db

tests/*/*/[Bb]in/*
tests/*/*/[Oo]bj/*
tests/*/*/[Pp]ackages/*