<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Magnesium" Description=" " ToolsVersion="16.0">
  <Include Path="magnesium.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1063" Action="Info" />
    <Rule Id="CA1701" Action="Hidden" />
    <Rule Id="CA1702" Action="Hidden" />
    <Rule Id="CA1712" Action="Info" />
    <Rule Id="CA1801" Action="Info" />
    <Rule Id="CA1802" Action="Info" />
    <Rule Id="CA1804" Action="Info" />
    <Rule Id="CA1812" Action="Info" />
    <Rule Id="CA1822" Action="Info" />
    <Rule Id="CA1823" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0078" Action="Hidden" />
    <Rule Id="CS0105" Action="Hidden" />
    <Rule Id="CS0108" Action="Hidden" />
    <Rule Id="CS0109" Action="Hidden" />
    <Rule Id="CS0114" Action="Hidden" />
    <Rule Id="CS0162" Action="Hidden" />
    <Rule Id="CS0164" Action="Hidden" />
    <Rule Id="CS0168" Action="Hidden" />
    <Rule Id="CS0183" Action="Hidden" />
    <Rule Id="CS0184" Action="Hidden" />
    <Rule Id="CS0197" Action="Hidden" />
    <Rule Id="CS0219" Action="Hidden" />
    <Rule Id="CS0251" Action="Hidden" />
    <Rule Id="CS0252" Action="Hidden" />
    <Rule Id="CS0253" Action="Hidden" />
    <Rule Id="CS0278" Action="Hidden" />
    <Rule Id="CS0279" Action="Hidden" />
    <Rule Id="CS0280" Action="Hidden" />
    <Rule Id="CS0282" Action="Hidden" />
    <Rule Id="CS0419" Action="Hidden" />
    <Rule Id="CS0420" Action="Hidden" />
    <Rule Id="CS0435" Action="Hidden" />
    <Rule Id="CS0436" Action="Hidden" />
    <Rule Id="CS0437" Action="Hidden" />
    <Rule Id="CS0440" Action="Hidden" />
    <Rule Id="CS0458" Action="Hidden" />
    <Rule Id="CS0464" Action="Hidden" />
    <Rule Id="CS0465" Action="Hidden" />
    <Rule Id="CS0469" Action="Hidden" />
    <Rule Id="CS0472" Action="Hidden" />
    <Rule Id="CS0473" Action="Hidden" />
    <Rule Id="CS0612" Action="Hidden" />
    <Rule Id="CS0618" Action="Hidden" />
    <Rule Id="CS0626" Action="Hidden" />
    <Rule Id="CS0628" Action="Hidden" />
    <Rule Id="CS0642" Action="Hidden" />
    <Rule Id="CS0652" Action="Hidden" />
    <Rule Id="CS0657" Action="Hidden" />
    <Rule Id="CS0658" Action="Hidden" />
    <Rule Id="CS0659" Action="Hidden" />
    <Rule Id="CS0660" Action="Hidden" />
    <Rule Id="CS0661" Action="Hidden" />
    <Rule Id="CS0665" Action="Hidden" />
    <Rule Id="CS0672" Action="Hidden" />
    <Rule Id="CS0675" Action="Hidden" />
    <Rule Id="CS0684" Action="Hidden" />
    <Rule Id="CS0693" Action="Hidden" />
    <Rule Id="CS0728" Action="Hidden" />
    <Rule Id="CS0809" Action="Hidden" />
    <Rule Id="CS0811" Action="Hidden" />
    <Rule Id="CS0824" Action="Hidden" />
    <Rule Id="CS1030" Action="Hidden" />
    <Rule Id="CS1058" Action="Hidden" />
    <Rule Id="CS1062" Action="Hidden" />
    <Rule Id="CS1064" Action="Hidden" />
    <Rule Id="CS1066" Action="Hidden" />
    <Rule Id="CS1072" Action="Hidden" />
    <Rule Id="CS1522" Action="Hidden" />
    <Rule Id="CS1570" Action="Hidden" />
    <Rule Id="CS1571" Action="Hidden" />
    <Rule Id="CS1572" Action="Hidden" />
    <Rule Id="CS1573" Action="Hidden" />
    <Rule Id="CS1574" Action="Hidden" />
    <Rule Id="CS1580" Action="Hidden" />
    <Rule Id="CS1581" Action="Hidden" />
    <Rule Id="CS1584" Action="Hidden" />
    <Rule Id="CS1587" Action="Hidden" />
    <Rule Id="CS1589" Action="Hidden" />
    <Rule Id="CS1590" Action="Hidden" />
    <Rule Id="CS1591" Action="Hidden" />
    <Rule Id="CS1592" Action="Hidden" />
    <Rule Id="CS1616" Action="Hidden" />
    <Rule Id="CS1633" Action="Hidden" />
    <Rule Id="CS1634" Action="Hidden" />
    <Rule Id="CS1635" Action="Hidden" />
    <Rule Id="CS1645" Action="Hidden" />
    <Rule Id="CS1658" Action="Hidden" />
    <Rule Id="CS1668" Action="Hidden" />
    <Rule Id="CS1685" Action="Hidden" />
    <Rule Id="CS1687" Action="Hidden" />
    <Rule Id="CS1690" Action="Hidden" />
    <Rule Id="CS1692" Action="Hidden" />
    <Rule Id="CS1695" Action="Hidden" />
    <Rule Id="CS1696" Action="Hidden" />
    <Rule Id="CS1697" Action="Hidden" />
    <Rule Id="CS1700" Action="Hidden" />
    <Rule Id="CS1701" Action="Hidden" />
    <Rule Id="CS1702" Action="Hidden" />
    <Rule Id="CS1710" Action="Hidden" />
    <Rule Id="CS1711" Action="Hidden" />
    <Rule Id="CS1712" Action="Hidden" />
    <Rule Id="CS1717" Action="Hidden" />
    <Rule Id="CS1718" Action="Hidden" />
    <Rule Id="CS1720" Action="Hidden" />
    <Rule Id="CS1723" Action="Hidden" />
    <Rule Id="CS1734" Action="Hidden" />
    <Rule Id="CS1735" Action="Hidden" />
    <Rule Id="CS1762" Action="Hidden" />
    <Rule Id="CS1927" Action="Hidden" />
    <Rule Id="CS1956" Action="Hidden" />
    <Rule Id="CS1957" Action="Hidden" />
    <Rule Id="CS1974" Action="Hidden" />
    <Rule Id="CS1981" Action="Hidden" />
    <Rule Id="CS1998" Action="Hidden" />
    <Rule Id="CS2002" Action="Hidden" />
    <Rule Id="CS2008" Action="Hidden" />
    <Rule Id="CS2023" Action="Hidden" />
    <Rule Id="CS2029" Action="Hidden" />
    <Rule Id="CS2038" Action="Hidden" />
    <Rule Id="CS3000" Action="Hidden" />
    <Rule Id="CS3001" Action="Hidden" />
    <Rule Id="CS3002" Action="Hidden" />
    <Rule Id="CS3003" Action="Hidden" />
    <Rule Id="CS3005" Action="Hidden" />
    <Rule Id="CS3006" Action="Hidden" />
    <Rule Id="CS3007" Action="Hidden" />
    <Rule Id="CS3008" Action="Hidden" />
    <Rule Id="CS3009" Action="Hidden" />
    <Rule Id="CS3010" Action="Hidden" />
    <Rule Id="CS3011" Action="Hidden" />
    <Rule Id="CS3012" Action="Hidden" />
    <Rule Id="CS3013" Action="Hidden" />
    <Rule Id="CS3014" Action="Hidden" />
    <Rule Id="CS3015" Action="Hidden" />
    <Rule Id="CS3016" Action="Hidden" />
    <Rule Id="CS3017" Action="Hidden" />
    <Rule Id="CS3018" Action="Hidden" />
    <Rule Id="CS3019" Action="Hidden" />
    <Rule Id="CS3021" Action="Hidden" />
    <Rule Id="CS3022" Action="Hidden" />
    <Rule Id="CS3023" Action="Hidden" />
    <Rule Id="CS3024" Action="Hidden" />
    <Rule Id="CS3026" Action="Hidden" />
    <Rule Id="CS3027" Action="Hidden" />
    <Rule Id="CS4014" Action="Hidden" />
    <Rule Id="CS4024" Action="Hidden" />
    <Rule Id="CS4025" Action="Hidden" />
    <Rule Id="CS4026" Action="Hidden" />
    <Rule Id="CS7033" Action="Hidden" />
    <Rule Id="CS7035" Action="Hidden" />
    <Rule Id="CS7080" Action="Hidden" />
    <Rule Id="CS7081" Action="Hidden" />
    <Rule Id="CS7082" Action="Hidden" />
    <Rule Id="CS7090" Action="Hidden" />
    <Rule Id="CS7095" Action="Hidden" />
    <Rule Id="CS8001" Action="Hidden" />
    <Rule Id="CS8002" Action="Hidden" />
    <Rule Id="CS8009" Action="Hidden" />
    <Rule Id="CS8012" Action="Hidden" />
    <Rule Id="CS8018" Action="Hidden" />
    <Rule Id="CS8021" Action="Hidden" />
    <Rule Id="CS8029" Action="Hidden" />
    <Rule Id="CS8032" Action="Hidden" />
    <Rule Id="CS8033" Action="Hidden" />
    <Rule Id="CS8034" Action="Hidden" />
    <Rule Id="CS8040" Action="Hidden" />
    <Rule Id="CS8073" Action="Hidden" />
    <Rule Id="CS8094" Action="Hidden" />
    <Rule Id="CS8105" Action="Hidden" />
    <Rule Id="CS8123" Action="Hidden" />
    <Rule Id="CS8305" Action="Hidden" />
    <Rule Id="CS8321" Action="Hidden" />
    <Rule Id="CS8359" Action="Hidden" />
    <Rule Id="CS8360" Action="Hidden" />
    <Rule Id="CS8371" Action="Hidden" />
    <Rule Id="CS8383" Action="Hidden" />
    <Rule Id="CS8387" Action="Hidden" />
    <Rule Id="CS8424" Action="Hidden" />
    <Rule Id="CS8425" Action="Hidden" />
    <Rule Id="CS8509" Action="Hidden" />
    <Rule Id="CS8512" Action="Hidden" />
    <Rule Id="CS8513" Action="Hidden" />
    <Rule Id="CS8519" Action="Hidden" />
    <Rule Id="CS8520" Action="Hidden" />
    <Rule Id="CS8597" Action="Hidden" />
    <Rule Id="CS8600" Action="Hidden" />
    <Rule Id="CS8601" Action="Hidden" />
    <Rule Id="CS8602" Action="Hidden" />
    <Rule Id="CS8603" Action="Hidden" />
    <Rule Id="CS8604" Action="Hidden" />
    <Rule Id="CS8605" Action="Hidden" />
    <Rule Id="CS8606" Action="Hidden" />
    <Rule Id="CS8607" Action="Hidden" />
    <Rule Id="CS8608" Action="Hidden" />
    <Rule Id="CS8609" Action="Hidden" />
    <Rule Id="CS8610" Action="Hidden" />
    <Rule Id="CS8611" Action="Hidden" />
    <Rule Id="CS8612" Action="Hidden" />
    <Rule Id="CS8613" Action="Hidden" />
    <Rule Id="CS8614" Action="Hidden" />
    <Rule Id="CS8615" Action="Hidden" />
    <Rule Id="CS8616" Action="Hidden" />
    <Rule Id="CS8617" Action="Hidden" />
    <Rule Id="CS8618" Action="Hidden" />
    <Rule Id="CS8619" Action="Hidden" />
    <Rule Id="CS8620" Action="Hidden" />
    <Rule Id="CS8621" Action="Hidden" />
    <Rule Id="CS8622" Action="Hidden" />
    <Rule Id="CS8624" Action="Hidden" />
    <Rule Id="CS8625" Action="Hidden" />
    <Rule Id="CS8626" Action="Hidden" />
    <Rule Id="CS8629" Action="Hidden" />
    <Rule Id="CS8631" Action="Hidden" />
    <Rule Id="CS8632" Action="Hidden" />
    <Rule Id="CS8633" Action="Hidden" />
    <Rule Id="CS8634" Action="Hidden" />
    <Rule Id="CS8638" Action="Hidden" />
    <Rule Id="CS8643" Action="Hidden" />
    <Rule Id="CS8644" Action="Hidden" />
    <Rule Id="CS8645" Action="Hidden" />
    <Rule Id="CS8653" Action="Hidden" />
    <Rule Id="CS8654" Action="Hidden" />
    <Rule Id="CS8655" Action="Hidden" />
    <Rule Id="CS8656" Action="Hidden" />
    <Rule Id="CS8667" Action="Hidden" />
    <Rule Id="CS8714" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0043" Action="Hidden" />
    <Rule Id="IDE0051" Action="Hidden" />
    <Rule Id="IDE0052" Action="Hidden" />
    <Rule Id="IDE0064" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0067" Action="Hidden" />
    <Rule Id="IDE0068" Action="Hidden" />
    <Rule Id="IDE0069" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1028" Action="Hidden" />
    <Rule Id="CA1051" Action="Hidden" />
  </Rules>
</RuleSet>