<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magnesium" version="5.2.8" targetFramework="net45" />
  <package id="Magnesium.OpenGL" version="6.1.4" targetFramework="net45" />
  <package id="Magnesium.OpenGL.DesktopGL" version="6.1.5" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net45" />
  <package id="OpenTK" version="2.0.0" targetFramework="net45" />
</packages>