<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magnesium" version="5.2.8" targetFramework="net45" />
  <package id="Magnesium.OpenGL" version="6.1.4" targetFramework="net45" />
  <package id="Magnesium.OpenGL.DesktopGL" version="6.1.5" targetFramework="net45" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.15.0" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
</packages>