<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LightInject" version="4.1.5" targetFramework="net452" />
  <package id="Magnesium" version="6.0.3-alpha" targetFramework="net452" />
  <package id="Magnesium.PresentationSurfaces.OpenTK" version="1.0.3-alpha" targetFramework="net452" />
  <package id="Magnesium.Vulkan" version="5.0.7-alpha" targetFramework="net452" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
</packages>