<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc" version="2.9.3" targetFramework="net452" />
  <package id="Magnesium" version="5.2.8-beta" targetFramework="net452" />
  <package id="Magnesium.Ktx" version="1.0.4-beta" targetFramework="net452" />
  <package id="Magnesium.PresentationSurfaces.OpenTK" version="1.0.4-beta" targetFramework="net452" />
  <package id="Magnesium.Vulkan" version="5.0.7-beta" targetFramework="net452" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
</packages>