<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Magnesium" Description=" " ToolsVersion="16.0">
  <Include Path="magnesium.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1063" Action="Info" />
    <Rule Id="CA1701" Action="Hidden" />
    <Rule Id="CA1702" Action="Hidden" />
    <Rule Id="CA1712" Action="Info" />
    <Rule Id="CA1801" Action="Info" />
    <Rule Id="CA1802" Action="Info" />
    <Rule Id="CA1804" Action="Info" />
    <Rule Id="CA1812" Action="Info" />
    <Rule Id="CA1822" Action="Info" />
    <Rule Id="CA1823" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1028" Action="Hidden" />
    <Rule Id="CA1051" Action="Hidden" />
  </Rules>
</RuleSet>